@charset "utf-8";

$orange: #FF9900;
$light-gray: #E9E9E9;
$gray: #BCBCBC;
$dark-gray: #424242;
$blue: #3299BB;

@import "gumby/gumby";
@import "compass/layout/grid-background";

$offwhite: #f8f8f8;

.navbar {
  background-color: $blue;

  .menu {
    @include row();
  }

  ul li > a {
    @include text-shadow(none);
    font-weight: $font-weight-semibold;
  }
}

.download {
  padding: ms(4) 0;
  text-align: center;

  .btn {
    display: inline-block;
  }
}

.block {
  background-color: $orange;
  height: $xlarge;
}

h1 {
  color: $blue;
  @include font-size($reallybig);
}

@include respond(all-phones) {
  h1 { @include font-size($xlarge); }
}

h4 {
  color: $dark-gray;
}

p:first-of-type {
  @include leader(1);
}
