/* line 1, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight table {
  border-spacing: 0; }

/* line 2, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight table td {
  padding: 5px; }

/* line 3, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight table .gutter {
  text-align: right; }

/* line 4, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight, .highlight .w {
  color: #586e75; }

/* line 7, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .err {
  color: #151515;
  background-color: #ac4142; }

/* line 11, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #505050; }

/* line 14, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .cp {
  color: #f4bf75; }

/* line 17, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .nt {
  color: #f4bf75; }

/* line 20, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .o, .highlight .ow {
  color: #d0d0d0; }

/* line 23, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .p {
  color: #d0d0d0; }

/* line 26, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .gi {
  color: #90a959; }

/* line 29, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .g {
  color: #ac4142; }

/* line 32, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold; }

/* line 37, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr {
  color: #aa759f; }

/* line 40, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .kc {
  color: #d28445; }

/* line 43, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .kt {
  color: #d28445; }

/* line 46, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .kd {
  color: #d28445; }

/* line 49, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959; }

/* line 52, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .sr {
  color: #75b5aa; }

/* line 55, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .si {
  color: #8f5536; }

/* line 58, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .se {
  color: #8f5536; }

/* line 61, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .nn {
  color: #f4bf75; }

/* line 64, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .nc {
  color: #f4bf75; }

/* line 67, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .no {
  color: #f4bf75; }

/* line 70, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .na {
  color: #6a9fb5; }

/* line 73, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo {
  color: #90a959; }

/* line 76, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
.highlight .ss {
  color: #90a959; }

/* line 79, /Users/tomdale/Code/conductorjs-website/source/stylesheets/syntax.css.scss.erb */
pre {
  padding-left: ms(3); }
