---
title: Conductor.js
---

<div class="wrapper">
  <div class="row">
    <h1>Conductor.js</h1>
  </div>
  <div class="row">
    <h2>A JavaScript library for securely embedding apps and content.</h2>
  </div>

  <div class="download row">
    <div class="metro rounded medium btn primary"><a href="https://github.com/tildeio/conductor.js/blob/master/dist/conductor-0.2.0.js.html

">Download Conductor.js</a></div>
    <div class="metro rounded medium btn info"><a href="/docs">Read the Documentation</a></div>
  </div>

  <div class="row">
    <h3 class="thirteen columns">The Future, Today</h3>
  </div>

  <div class="row">
    <div class="three columns">
      <img src="/images/oasisjs-logo.png">
    </div>
    <p class="eight columns">
      Conductor.js uses <a href="http://www.oasisjs.com">Oasis.js</a> to
      securely embed third-party content using the
      <a href="http://www.w3.org/TR/webmessaging/">HTML5 Web Messaging</a> standard.
      In older browsers that don't support Web Messaging natively, Oasis.js provides a polyfill over <code>postMessage</code>.
    </p>
  </div>
</div>
