---
title: Conductor.js
---

<div class="wrapper">
  <div class="row">
    <h1>Conductor.js</h1>
  </div>
  <div class="row">
    <h2>A JavaScript library for securely embedding apps and content.</h2>
  </div>

  <div class="download row">
    <div class="metro rounded medium btn primary"><a href="#">Download Conductor.js</a></div>
    <div class="metro rounded medium btn info"><a href="/docs">Read the Documentation</a></div>
  </div>

  <div class="row">
    <div class="block one column"></div>
    <h3 class="thirteen columns">The Future, Today</h3>
  </div>

  <div class="row">
    <div class="three columns">
      <img src="/images/oasisjs-logo.png">
    </div>
    <p class="eight columns">
      Conductor.js uses <a href="http://www.oasisjs.com">Oasis.js</a> to
      securely embed third-party content using the
      <a href="http://www.w3.org/TR/webmessaging/">HTML5 Web Messaging</a> standard.
      In older browsers that don't support Web Messaging natively, Oasis.js provides a polyfill over <code>postMessage</code>.
    </p>
  </div>
  <p>Aliqua deserunt mustache Vice minim proident lomo, twee eiusmod pariatur cardigan biodiesel High Life quis McSweeney's. Direct trade viral master cleanse, in gastropub dreamcatcher readymade fingerstache literally est sartorial dolor laborum wayfarers Wes Anderson. Non Brooklyn bicycle rights plaid, pickled nisi Marfa leggings bitters brunch salvia sapiente. Viral try-hard accusamus next level. Dolore 90's readymade, sed locavore shoreditch keytar polaroid ugh. Fashion axe VHS readymade 8-bit. Duis Odd Future beard authentic, qui do accusamus Marfa anim irure thundercats flannel dolor gentrify VHS.</p>
  <p>Farm-to-table hella nisi, actually cliche laborum Godard pitchfork letterpress anim tote bag. Fap mustache placeat, delectus McSweeney's 3 wolf moon biodiesel incididunt readymade bespoke wayfarers flannel cardigan scenester gastropub. DIY elit pour-over flannel, freegan do tempor small batch put a bird on it irure artisan quinoa hoodie street art typewriter. Sartorial fixie small batch, McSweeney's delectus enim pug Schlitz flannel Marfa eu ullamco pour-over Bushwick wolf. Salvia pug Wes Anderson labore. Terry Richardson selvage fixie 8-bit PBR cardigan chambray irony forage typewriter, culpa pitchfork viral. Street art forage nulla aliquip Bushwick.</p>
  <p>Kogi roof party letterpress anim sunt chambray reprehenderit, aliquip keffiyeh butcher typewriter PBR. Meggings art party voluptate, selfies 90's ex tumblr. Ad enim kogi, tattooed irony vero sartorial PBR tofu iPhone messenger bag. Artisan skateboard sartorial swag. Church-key pariatur magna, seitan velit actually aliqua pug tempor hoodie adipisicing. Vice butcher eiusmod, asymmetrical raw denim minim pork belly cardigan placeat mustache banh mi narwhal mlkshk. Sustainable tempor Neutra, sed 3 wolf moon Bushwick occupy deep v tofu hella yr twee tote bag Schlitz excepteur.</p>
  </div>
</div>
